build/
dist/
docs/_build
docs/source/basic_example.rst
docs/source/cbmos.rst
docs/source/cbmos.solvers.rst
docs/source/convergence_example.rst
docs/source/modules.rst
cbmos.egg-info/
*.egg/
__pycache__
.cache/
.directory
.ipynb_checkpoints/
*.pdf
*.png
*.mp4
*.eps
